:root {
    --secondary-color: #f59300;
    --third-color: #CB700D;
    --form-label-color: #663806;
    --form-data-color: #a95d0b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Source sans 3', sans-serif;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

button,
.primary-button,
.secondary-button,
.third-button {
    border-radius: 0.5em;
    transition: 300ms ease-in-out;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    padding-block: 1em;
    text-align: center;
}

.primary-button,
.secondary-button:hover {
    outline: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: #eee;
    border: none;
}

.primary-button:hover,
.secondary-button,
.third-button {
    background-color: transparent;
    outline: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    border: none;
}

.third-button {
    outline: 1px solid var(--third-color);
    color: var(--third-color);
}

.third-button:hover {
    background-color: var(--third-color);
    color: #eee;
}
