* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source sans 3', sans-serif;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}