:root {
    --h1-font-size: 2.5em;
    --secondary-color: #F39200;
    --button-font-size: 2em;
}

.index {
    width: 100%;
    min-height: 100vh;
}

.index h1 {
    font-size: var(--h1-font-size);
}

.index {
    margin-bottom: 2em;
}

.index section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: baseline;
    padding-bottom: 2em;
}

.index section:first-child{
    min-height: 70vh;
} 

.index section div img {
    width: 100%;
}

.border-radius-right {
    border-radius: 0 10em 10em 0;
}

.border-radius-left {
    border-radius: 10em 0 0 10em;
}

.index section div:nth-child(1) {
    width: 100%;
}

.description-buttons {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 1em;
    padding-inline: 5em;
    text-align: left;
}

.index button {
    width: 30%;
    padding: .5em;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }

    20% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}


.wheel-container {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0);
    
    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100%;
}

.wheel-container img {
    cursor: pointer;
}

@keyframes fade-in {
    0%, 15% {
        opacity: 0;
        transform: rotate(0deg);
    }

    20% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}


@media (max-width: 601px) {
    html {
        font-size: 10px;
    }
        
    .index {
        width: 100%;
    }

    .index h1 {
        font-size: var(--h1-font-size);
    }

    .index {
        margin-bottom: 2em;
    }
    
    .index section {
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        flex-direction: column;
        gap: 2em;
        text-align: center;
        padding: 1.2em;
        min-height: 70vh;
        padding: 5em 0.2em;
    }

    .index section div {
        width: 100%;
    }

    section:has(:nth-child(2) img) {
        flex-direction: column-reverse;
    }
    
    .index section:first-child{
        min-height: 0;
    } 

    .index section div img {
        width: 100%;
    }

    .border-radius-right {
        border-radius: 0 10em 10em 0;
    }

    .border-radius-left {
        border-radius: 10em 0 0 10em;
    }

    .index section div:nth-child(1) {
        width: 100%;
    }

    .index section button {
        width: 100%;
    }
        
    .wheel-container {
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(0);
        
        animation: fade-in linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 100%;
    }

    .wheel-container img {
        cursor: pointer;
}
}
