:root {
    --h1-font-size: 4em;
    --secondary-color: #F39200;
    --button-font-size: 2em;
}

.index {
    width: 100vw;
    min-height: 100vh;
}

h1 {
    font-size: var(--h1-font-size);
}

.index {
    margin-block: 2em;
}

.index section {
    display: flex;
    min-height: 90vh;
}

.index section div img {
    width: 50vw;
    height: 70vh;
}

.border-radius-right {
    border-radius: 0 200px 200px 0;
}

.border-radius-left {
    border-radius: 200px 0 0 200px;
}

.index section div:nth-child(1) {
    width: 50%;
}

.description-buttons {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;
    padding-inline: 5em;
    text-align: left;
}

.index button {
    font-size: var(--button-font-size);
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.secondary-color-bg {
    color: #eee;
    margin-top: 1em;
    background-color: var(--secondary-color);
    outline: 1px solid transparent;
    border: none;
}

.secondary-color-bg:hover {
    color: var(--secondary-color);
    background-color: white;
    outline: 1px solid var(--secondary-color);
}

button:hover {
    cursor: pointer;
}

button {
    transition: 200ms ease-in-out;
    font-weight: 600;
}
.secondary-color-border {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: white;
}

.secondary-color-border:hover {
    color: #eee;
    background-color: var(--secondary-color);
    border: none;
}