:root {
    --h1-font-size: 2.5em;
    --secondary-color: #F39200;
    --button-font-size: 2em;
}

.index {
    width: 100vw;
    min-height: 100vh;
}

.index h1 {
    font-size: var(--h1-font-size);
}

.index {
    margin-bottom: 2em;
}

.index section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: baseline;
    padding-bottom: 2em;
}

.index section:first-child{
    min-height: 70vh;
} 

.index section div img {
    width: 50vw;
}

.border-radius-right {
    border-radius: 0 200px 200px 0;
}

.border-radius-left {
    border-radius: 200px 0 0 200px;
}

.index section div:nth-child(1) {
    width: 50%;
}

.description-buttons {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 1em;
    padding-inline: 5em;
    text-align: left;
}

.index button {
    width: 30%;
    padding: 10px;
}